.main {
    margin: auto;
    height: 90vh;
    width: 95vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.search {
    margin: auto;
    width: 40vh;
}
.pagination {
    margin: auto;
    width: 60vh;
}